<div data-component="gallery" class="theater-mode">

  <header>
    {{> badge/badge badge=badge}}
    <h1 class="title">{{ title }}</h1>
  </header>
  <div class="content">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 150 }'>
      {{#each images}}
      <div class="grid-item{{#if main}} large{{/if}}" data-image-url="{{ imageUrl }}" style="background-image: url('{{imageUrl}}');"></div>
      {{/each}}
    </div>

    <section class="theater">
      <div class="main">
      </div>
      <div class="slide">
        <div class="buttons">
          <button class="back"></button>
          <button class="forward"></button>
        </div>
        <div class="slide-inner">
          {{#each images}}
          <div class="slide-item" data-image-url="{{ imageUrl }}" style="background-image:url('{{ imageUrl }}');"></div>
          {{/each}}
        </div>
      </div>
    </section>

  </div>
  <script type="application/json" class="data">
    {{{json this}}}
  </script>
</div>
