<div data-component="mission-card" class="{{ class }}">

  {{> close/close tooltipTitle='Delete'}}

  <div class="header">
    {{> badge/badge popover=true badge=badge}}
    <div class="info">
      <div class="info-header">
        {{> text-box/text-box class="title" placeholder="Add a new mission" value=title}}
        <span class="milestones-label">{{ milestones.completed.length }}/{{math milestones.active.length '+' milestones.completed.length}} milestones completed</span>
      </div>
      {{> progress-bar/progress-bar this}}
      <div class="milestone-badges">
        {{#each milestones}}
        {{> milestone-badge/milestone-badge}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="details">
    <div class="row family">
      <span>Assigned to</span>
      <div class="family-select">

      {{#if assignedTo}}
        {{#each users}}

          {{!-- Only select those that are in the array of user ids --}}
          {{#xif ../assignedTo 'contains' this.id}}
          {{> user-badge/user-badge tooltip=true selectable=true selected=true}}
          {{ else}}
          {{> user-badge/user-badge tooltip=true selectable=true selected=false}}
          {{/xif}}

        {{/each}}

        {{else}}

        {{#each users}}
          {{!-- Start off preselected --}}
          {{> user-badge/user-badge tooltip=true selectable=true selected=true}}
        {{/each}}
      {{/if}}
      </div>
    </div>

    <div class="row milestones">
      <span>Milestones</span>
      {{> add-milestones/add-milestones this}}
    </div>

    <div data-component="button-group">
      <button class="cancel">Cancel</button>
      <button class="active save">Save</button>
    </div>
  </div>

  <script type="application/json" class="data">
    {{{json this}}}
  </script>
</div>
