<div data-component="goal-card" data-type="{{ type }}">
  <h2>{{ title }}</h2>

  {{#if imageURL}}
  <div class="goal-img" style="background-image:url('{{ imageURL }}')"></div>
  {{/if}}

  {{#if user}}
  <p class="name">{{ user.name }}</p>
  {{else}}
  <p class="name">Anyone</p>
  {{/if}}

  {{#if points}}
  <p class="points">{{ points }} point{{#xif points '>' 1}}s{{/xif}}</p>
  {{/if}}

  <div class="footer">
    {{#xif type '===' 'review'}}
    <button class="complete-button">Mark as Complete</button>
    <button class="redo-button">Ask to Redo</button>
    {{/xif}}
    {{#xif type '===' 'active'}}
    <button class="edit-button">Edit</button>
    <button class="remind-button">Remind {{ user.name }}</button>
    <button class="cancel-button">Cancel</button>
    {{/xif}}
  </div>
</div>
